<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="NodeJSConfigurationType" factoryName="Node.js" path-to-node="C:/Program Files/nodejs/node" path-to-js-file="bin/www" working-dir="$PROJECT_DIR$">
    <envs>
      <env name="DEBUG" value="ExpressAngularSeed" />
    </envs>
    <browser start="true" url="http://localhost:3000/" />
    <RunnerSettings RunnerId="Basic" />
    <ConfigurationWrapper RunnerId="Basic" />
    <method />
  </configuration>
</component>